<div class="login-container">
  <div class="login-card">
    <h1>Bienvenidos a todos</h1>
    <p>Nombre del hotel</p>

    <form class="custom-form" method="post">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email Address"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />
      <button type="submit" class="primary-btn">Sign in now</button>
    </form>

    <div class="social-login">
      <button class="social-btn facebook-btn" (click)="loginWith('facebook')">
        <img src="assets/img/facebook.png" class="icon" alt="Facebook" />
        Login with Facebook
      </button>

      <button class="social-btn google-btn" (click)="loginWith('google')">
        <img src="assets/img/Google.png" class="icon" alt="Google" />
        Login with Google
      </button>

      <button class="social-btn microsoft-btn" (click)="loginWith('microsoft')">
        <img src="assets/img/microsoft.png" class="icon" alt="Microsoft" />
        Login with Microsoft
      </button>
    </div>

    <button class="register-btn" (click)="register()">Register</button>
    <a href="#" class="forgot-password">Lost your password?</a>
  </div>
</div>
