    <header>
    <h1>Habitaciones Disponibles en Hotel BreazeInTheMoon #1</h1>
    </header>
    <div class="room-list">
    <a routerLink="/room/1" class="room-card">
        <img src="assets/images/room-standard.jpg" alt="Habitación Standard">
        <h3>Habitación Standard</h3>
        <p>Descripción de la Habitación Standard.</p>
    </a>
    <a routerLink="/room/2" class="room-card">
        <img src="assets/images/room-deluxe.jpg" alt="Habitación Deluxe">
        <h3>Habitación Deluxe</h3>
        <p>Descripción de la Habitación Deluxe.</p>
    </a>
    <a routerLink="/room/3" class="room-card">
        <img src="assets/images/room-suite.jpg" alt="Habitación Suite">
        <h3>Habitación Suite</h3>
        <p>Descripción de la Habitación Suite.</p>
    </a>
    </div>
