    <header>
    <h1>Habitaciones Disponibles en Hotel Luxury</h1>
    </header>
    <div class="room-list">
    <a routerLink="/room/1" class="room-card">
        <img src="https://via.placeholder.com/200" alt="Habitación 1">
        <h3>Habitación Standard</h3>
        <p>Descripción de la Habitación Standard.</p>
    </a>
    <a routerLink="/room/2" class="room-card">
        <img src="https://via.placeholder.com/200" alt="Habitación 2">
        <h3>Habitación Deluxe</h3>
        <p>Descripción de la Habitación Deluxe.</p>
    </a>
    <a routerLink="/room/3" class="room-card">
        <img src="https://via.placeholder.com/200" alt="Habitación 3">
        <h3>Habitación Suite</h3>
        <p>Descripción de la Habitación Suite.</p>
    </a>
    </div>
